.gv-open-overlay-btn{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: $accent-yellow;
    border-radius: 50%;
    margin-right: 6px;
    background-image: url('<%= path %>/assets/arrow.svg');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    @include mq(desktop){
        display:none;
    }

}


.close-overlay-btn {
    width: 40px;
    height: 40px;
    background-color: $selected-color;;
    background-image: url('<%= path %>/assets/arrow.svg');
    border-radius: 9999px;
    position: fixed;
    top: calc(100% - 70px);
    left: 8px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;    
    transform: translateX(100vw);
    z-index: 1001;
    &.open{
        transform: rotate(180deg) translateX(0);
        transition: transform  0.15s linear;
    }
    
    &.close{
        transform: rotate(180deg) translateX(100vw);
        transition: transform  0.15s linear;
    }
}

.close-overlay-btn:hover {
    background-color: $selected-color-support; 
}


.cta-button-holder {
    position:relative;
    background-color: $neutral-3;
    border-radius: 999px;
    border: 1px solid #FFF;
    cursor: pointer;
    margin: 12px 0 $gs-baseline;
    height:36px;
    width:180px;

    @include mq(tablet){
    
        //margin: $gs-baseline 0 $gs-baseline $gs-gutter;
    }

    @include mq(leftCol){
      // position:absolute;
      //   bottom:36px;
      //   left:470px;
        //margin: 0 0 0 $gs-gutter;
      
    }
    .cta-button {
       display: inline-block;
        width: auto;
        height: 36px;
        padding: 9px 36px 6px 18px;
        color: $neutral-1;
        font-family: "Guardian Text Sans Web", Helvetica, Arial, sans-serif;
        font-weight: 200;
        font-size: 14px;
        line-height: -6px;
        cursor: pointer;
    }
    .inline-arrow-white-right {
        display: block;
        float: right;
        height: 6px;
        padding: 3px 6px 0 0;
        fill: #FFF;
        
    }

    .inline-arrow-white-dark {
        display: block;
        float: right;
        height: 6px;
        padding: 3px 6px 0 0;
        fill: #333;
        
    }
 
}

.cta-button-holder:hover{
	background-color: $selected-color;
}


.gv-section-bullet-wrapper{
    width: 100vw;
    margin-top:12px;
    margin-bottom:6px;
    @include mq(tablet){
        margin-top:24px;
    }

    @include mq(leftCol){
        margin-top:36px;
        width: 50vw;
    }
}


.gv-section-bullet{
    background-color:$bullet-bg;
    color:$neutral-1;
    width:24px;
    height:21px;
    padding-top:3px;
    @include fs-textSans(3);
    text-align:center;
    border-radius:999px;

}


.gv-section-bullet-wrapper::after { 
    content: "";
    display: block;
    margin-top: -12px;
    height: 12px;
    width: calc(100% - 24px);
    margin-left: 24px;
    padding-bottom: 12px;
    border-top: 1px solid $bullet-bg;
}

