@import "mq";
@import "fonts";
@import "palette";



$gs-baseline:12px;
$gs-gutter:20px;
$facewall-bg: $neutral-5;
$header-support: $neutral-5;
$bullet-bg: $multimedia-main-2;
$unselected-color: $neutral-3;
$selected-color: $multimedia-main-2;
$selected-color-support: $comment-main-2;


@import "detailView";
@import "uxItems";
@import "share";

// Uncomment for embeds
//@import "embed";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element-atom,
.interactive-atom {
    margin: 0 !important;
    background-color: $multimedia-support-4;
}

.gv-right-wrapper{
	height:100%; 
	//overflow:hidden;
	width: calc( 100% - 60px);
	margin: 0 0 0 auto;
	background-color:#FFF;
	overflow-x: hidden;
	padding: 30px 0 0 30px;

	@include mq(desktop){
		width: 50%;
	}

}

.gv-right-standfirst{

	max-width:600px;

	h1{
		@include fs-headline(9);
		font-weight:200;
	}

	h3{
		@include fs-header(2);
	}

	p:before{
		content: '';
        display: block;
        top: 0;
        height: 12px;
        width: 50vw;
        margin-bottom:6px;
        border-bottom: 1px solid $bullet-bg;
	}     
   
}

.show-mobile{
	display:block;
	@include mq(desktop){
		display:none;
	}
}

.show-desktop{
	display:none;
	@include mq(desktop){
		display:block;
	}
}
